<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/style.css" rel="stylesheet">
    <title>
      <%=page_title %>
    </title>
 </head>
 <body>
   <nav class="navbar navbar-inverse inverse" style="background-color:#950000">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/ideas">Ideas</a>
      </li>
      <li>
        <a href="/idea">Create Idea</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/logout">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </a>
      </li>
    </ul>

  </div>
</nav>
  <div class="row ideabox4"></div>
  <div class="header_2">!!WELCOME!! SHARE YOUR IDEAS</div>
</body>
